<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.iotcode.iadmin.demo.module.system.mapper.SysPermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="xyz.iotcode.iadmin.demo.module.system.entity.SysPermission">
        <id column="id" property="id" />
        <result column="permission_code" property="permissionCode" />
        <result column="permission_name" property="permissionName" />
        <result column="pid" property="pid" />
        <result column="sort" property="sort" />
        <result column="create_time" property="createTime" />
        <result column="url" property="url" />
        <result column="state" property="state" />
        <result column="request_way" property="requestWay" />
        <result column="type" property="type" />
        <result column="component_url" property="componentUrl" />
    </resultMap>
    <select id="getByUserId" resultType="xyz.iotcode.iadmin.demo.module.system.entity.SysPermission">
        SELECT
            rp.*
        FROM
            sys_user_role ur
            JOIN sys_role_permission rp ON ur.role_id = rp.role_id
            AND ur.user_id = #{id}
            JOIN sys_permission p ON rp.permission_id = p.id
    </select>
    <select id="getByRoleId" resultType="xyz.iotcode.iadmin.demo.module.system.entity.SysPermission">
        SELECT
            rp.*
        FROM
            sys_role_permission rp
            JOIN sys_permission p ON rp.permission_id = p.id
            AND rp.role_id = #{id}
    </select>

</mapper>
